
  <!-- *********Add NavBar********** -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">ToDo's List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      
     
      </ul>
  
    </div>
  </nav>

  <!-- ***************************************************************************************** -->
  
    <!-- <app-todos></app-todos> -->
    <router-outlet></router-outlet>
  <!-- *************************Footer************************ -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>© 2020-2021 PrasadPatange, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>