<div class="container my-3">
<h1 class="text-center">About Us</h1>
    <div class="jumbotron  shadow p-3 mb-5 bg-light text-dark rounded">
        <h1 class="display-4">About This Angular App</h1>
        <p class="lead">AngularJS is a JavaScript Framework.</p>
        <hr class="my-4 border-dark">
        <p>This Framework is used to Build Single Page Application(SPA).</p>
        <a class="btn btn-sm btn-outline-primary btn-lg" target="_blank" href="https://angular.io/docs" role="button">Learn more</a>
      </div>

</div>
